<table class="table table-hover">
 <thead>
   <tr>
     <th>#</th>
     <th>タイトル</th>
     <th>サイト</th>
   </tr>
 </thead>
  <tbody>
    <% @rss3.each_with_index do |entry,i| %>
    <tr>
      <th scope="row"><%= entry.time.strftime("%H時%M分")%></th>
    <td>
      <a href="<%= entry.url %>"><%= entry.title %></a>
    </td>
    <td>
      <%= entry.site_name %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
