<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">俺得まとめ(。-Ｇ-)</a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">TOP</a>
                </li>
                <li>
                    <a href="/">このサイトについて</a>
                </li>
                <li>
                    <a href="/">メールフォーム</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
